
<div class="item">
    <div class="item-title">Recipe Image</div>
    <div>
        <input 
        type="url"
        name="image"
        placeholder="http://"
        value="{{recipe.image}}"
        >
    </div>
</div>

<div class="item">
    <div class="item-title">Recipe Title</div>
    <div>
        <input 
        type="text"
        name="title"
        value="{{recipe.title}}">
    </div>
</div>

<div class="item">
    <div class="item-title">Recipe Author</div>
    <div>
        <input 
        type="text"
        name="author"
        value="{{recipe.author}}">
    </div>
</div>

<div class="item">
    <div class="item-title">Recipe Ingredients</div>
    <div id="ingredients">
        <div class="ingredient">
        {% if recipe %}
            {% for ingredient in recipe.ingredients %}
                <input 
                type="text"
                name="ingredients[]"
                value="{{ingredient}}">
            {% endfor %}
        {% else %}
            <input 
            type="text"
            name="ingredients[]">
        {% endif %}
        </div>
    </div>
    <button type="button" class="add-ingredient">Add Ingredient</button>
</div>

<div class="item">
    <div class="item-title">Recipe Preparation</div>
    <div id="steps">
        <div class="step">
        {% if recipe %}
            {% for step in recipe.preparation %}
                <input 
                type="text"
                name="preparation[]"
                value="{{step}}">
            {% endfor %}
        {% else %}
            <input 
            type="text"
            name="preparation[]">
        {% endif %}
        </div>
    </div>
    <button type="button" class="add-step">Add Step</button>
</div>

<div class="item" >
    <div class="item-title">Recipe Information</div>
    <div>
        <textarea 
        id="info"
        name="information" 
        value="{{recipe.information}}"></textarea>
    </div>
    
</div>





