{% extends "admin-layout.njk" %}

{% block content %}
<h1 class="admin-title">Manage Recipes</h1>
<a class="new-recipe" href="/admin/recipes/create">New Recipe</a>



<div class="admin-cards">  

    {% for item in items %}

        <div class="admin-card" id="{{item.title}}">

            <div class="card-img">
                <img src={{item.image}} alt={{item.title}}>
            </div>
            

            <div class="card-content">
                <div class="AdmRecipeTitle">
                    {{item.title}}
                </div>
                <div class="AdmRecipeOwner">
                    by {{item.author}}
                </div>
                <a class="view" href="/admin/recipes/{{item.id}}">View</a>
            </div>

        </div>
    {% endfor %}

</div>

{% endblock %}
