<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Foodfy</title>
    {% endblock %}
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main">
        <header>
            <div id="menu">
                <a href="/"><img src="assets/logo.png" alt="logo"></a>
                <nav>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/recipes">Recipes</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}

    </div>

    <!--
    <div class="modal-overlay"> 
        <div class="modal">           
            <img src="" alt="">   
            <h1></h1>
            <h2></h2>
            <h3><a class="close-modal">Close</a></h3>
        </div>
    </div>
    -->

    <footer>
        <p>All rights reserved, Foodfy recipes.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>