{% extends "layout.njk" %}

{% block title %}
<title>Foodfy - Recipes</title>
{% endblock %}

{% block content %}


<div class="cards">  

    {% for item in items %}
        <div class="card" id="{{item.title}}">
            <img src={{item.image}} alt={{item.title}}>
            <div class="recipeTitle">
                <p id="recipeTitle">{{item.title}}</p>
            </div>
            <div class="recipeOwner">
                <p id="recipeOwner">by {{item.author}}</p>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}