@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div.main {
    width: 940px;
    margin: auto;
}

/* HEADER */

header {
    display: block;
    position: relative;
}

div#menu {
    margin: 30px 0;
    display: flex;
}

nav ul {
    list-style: none;
    position: absolute;
    right: 50%;
    top: 5px;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: #111111;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(192, 192, 192, 0);
    -webkit-transition: border 500ms ease;
    -moz-transition: border 500ms ease;
    -ms-transition: border 500ms ease;
    -o-transition: border 500ms ease;
    transition: border 500ms ease; 
}

nav a:hover {
    border-bottom: 1px solid rgba(192, 192, 192, 1);
}

/* BANNER */

div.banner {
    width: 100%;
    height: 366px;
    background: #FBDFDB;
    border-radius: 30px;
    position: relative;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2)
}

div.bannerImg {
    position: absolute;
    margin-top: 36px; 
    right: 10%;
}

div.bannerText {
    max-width: 316px;
    position: absolute;
    margin-left: 60px;
    margin-top: 120px;
}

.bannerText h1 {
    font-family: Roboto;
    font-size: 32px;
    color: #111111;
}

.bannerText p {
    margin-top: 10px;
    opacity: 0.7;
    font-family: Roboto;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

/* CONTENT */

.content p {
    margin-top: 50px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

div.cards {
    max-width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

div.card {
    max-width: 300px;
    margin-bottom: 30px;
}

div.card img {
    max-width: 300px;
    object-fit: contain;
    border-radius: 10px;
}

div.recipeTitle {
    margin-top: 20px;
    font-family: Roboto;
    font-size: 18px;
    color: #111111;
}

div.recipeOwner {
    margin-top: 5px;
    font-family: Roboto;
    font-size: 14px;
    color: #777777;
}

footer {
    margin: auto;
    background: #EEEEEE;
    margin-top: 50px;
    height: 62px;
    font-family: Roboto;
    font-size: 14px;
    color: #999999;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* ABOUT */

div.subContent {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    color: #111111;
}

div.aboutText {
    font-family: Roboto;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/* MODAL */

.modal-overlay {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    background: rgba(1, 1, 1, 0.6);
    visibility: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal-overlay.active {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(1, 1, 1, 0.6);
    opacity: 1;
    visibility: visible;
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal {
    margin: auto;
    width: 660px;
    height: 413px;
    background: #FFFFFF;
    border-radius: 16px;
    position: relative;
}

div.modal img {
    width: 600px;
    height: 200px;
    margin: 30px 30px 20px;
    border-radius: 10px;
    object-fit: cover;
}

div.modal h1 {
    font-family: Roboto;
    font-size: 24px;
    color: #111111;
    text-align: center;
}

div.modal h2 {
    font-family: Roboto;
    font-size: 18px;
    color: #777777;
    text-align: center;
}

div.modal h3 {
    margin-top: 60px;
    font-family: Roboto;
    font-size: 16px;
    color: #999999;
    text-align: center;
    cursor: pointer;
}

/* DETAIL */

div.detailImg {
    max-width: 940px;
    height: 280px;
    margin-top: 20px;
    object-fit: contain;
}

div.detailImg img {
    border-radius: 15px;
}

div.detailTitle {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

div.detailTitle h1 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    color: #111111;
}

div.detailTitle h2 {
    font-family: Roboto;
    font-size: 20px;
    color: #777777;
}

div.subTitles {
    display: flex;
    margin-top: 40px;
    text-align: left;
}

div.subTitles h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
    color: #111111;
}

div.subTitles a {
    margin-left: 8px;
    margin-top: auto;
    font-family: Roboto;
    font-weight: 600;
    font-size: 12px;
    color: #999999;
}

div.ingredients, .preparation, .information {
    margin-top: 20px;
    font-family: Roboto;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    list-style-position: inside
}